/* Overrides the default Infima (https://infima.dev/) variables */
:root {
  /* Text and content */
  --ifm-font-family-base: "Avenir LT Pro", Helvetica, Arial, sans-serif;
  --ifm-color-content: #000035;
  --ifm-color-content-secondary: #404067;
  --ifm-color-primary: #000035;
  --ifm-color-primary-dark: #80809a;
  --ifm-color-primary-darker: #404067;
  --ifm-color-primary-darkest: #000035;
  --ifm-color-primary-light: #60e524;
  --ifm-color-primary-lighter: #4ee794;
  --ifm-color-primary-lightest: #dff6d5;
  --ifm-color-emphasis: #404067;
  /* Links */
  --ifm-link-hover-color: #404067;
  /* Footer */
  --ifm-footer-background-color: #f2f2f2;
  --ifm-footer-link-color: #000035;
  /* Sidebar */
  --ifm-menu-color: #404067;
  --ifm-menu-color-background-active: #010d410f;
  --ifm-menu-color-background-hover: #010d410f;
  /* Breadcrumb */
  --ifm-breadcrumb-item-background-active: #010d410f;
  /* Buttons */
  --ifm-button-background-color: #000035;
  /* Code blocks */
  --ifm-code-font-size: 95%;
}

/* Links within documentation content */
.theme-doc-markdown a,
.theme-edit-this-page {
  --ifm-link-decoration: underline;
}

.theme-doc-markdown a:hover,
.theme-edit-this-page:hover {
  color: #404067;
}

.theme-doc-markdown table a {
  text-decoration: none;
}

.theme-doc-markdown table a:hover {
  text-decoration: underline;
}

.theme-doc-markdown .hash-link {
  text-decoration: none;
}

.theme-doc-markdown .hash-link:hover {
  text-decoration: underline;
}

/* Caution adminition */
.theme-admonition-caution {
  background-color: #f2740014;
  border-color: #f27400;
  color: #263238;
}

.theme-admonition-caution a {
  text-decoration-color: #f27400;
}

.theme-admonition-caution svg path {
  fill: #f27400;
}

/* Tip adminition */
.theme-admonition-tip {
  background-color: #3d9a3214;
  border-color: #009e19;
  color: #263238;
}

.theme-admonition-tip a {
  text-decoration-color: #009e19;
}

.theme-admonition-tip svg path {
  fill: #009e19;
}

/* Danger adminition */
.theme-admonition-danger {
  background-color: #da353514;
  border-color: #da3535;
  color: #263238;
}

.theme-admonition-danger a {
  text-decoration-color: #da3535;
}

.theme-admonition-danger svg path {
  fill: #da3535;
}

/* Info adminition */
.theme-admonition-info {
  background-color: #edf3f8;
  border-color: #659bdf;
  color: #263238;
}

.theme-admonition-info a {
  text-decoration-color: #659bdf;
}

.theme-admonition-info svg path {
  fill: #659bdf;
}

/* Note adminition */
.theme-admonition-note {
  background-color: #f5f5f5;
  border-color: #e4e4e4;
  color: #263238;
}

.theme-admonition-note a {
  text-decoration-color: #e4e4e4;
}

.theme-admonition-note svg path {
  fill: #263238;
}

/* Details and summary elements */
.custom-details-example-json-response {
  background-color: #0000350f;
  border-color: #000035 !important;
  color: #000035;
}

.custom-details-example-json-response summary::before {
  border-color: transparent transparent transparent #000035 !important;
}

.custom-details-example-json-response .collapsibleContent_i85q {
  border-top: 1px solid #000035 !important;
}

/* Collapse sidebar button */
button[title="Collapse sidebar"] {
  border-top: none;
}

button[title="Collapse sidebar"]:hover {
  background-color: #010d410f;
}

button[title="Collapse sidebar"] svg path {
  fill: #000035;
}

/* Expand sidebar "button" */
div[title="Expand sidebar"] svg path {
  fill: #000035;
}

div[title="Expand sidebar"]:hover {
  background-color: #010d410f;
}

/* Footer links on smaller screens */
@media only screen and (max-width: 996px) {
  .footer__link-item {
    padding: 0.5rem 0;
  }
}

/* Main content container padding */
.container {
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (max-width: 996px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
